{
  "openapi": "3.0.0",
  "info": {
    "title": "Levea AI Video Editor API",
    "version": "1.0.0",
    "description": "API to interact with Levea's autonomous AI video editor. Allows submitting natural-language editing briefs, generating viral clips, adding active word-by-word captions, applying motion graphics, and exporting final MP4 videos."
  },
  "servers": [
    {
      "url": "https://api.livecore.ai",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/api/v1/misc/openclaw/v1/execute": {
      "post": {
        "operationId": "executeAutonomousEdit",
        "summary": "Execute autonomous video edit",
        "description": "Takes a natural-language description (prompt) of the desired edit, planning, executing, and returning the result.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "params"
                ],
                "properties": {
                  "tool": {
                    "type": "string",
                    "default": "autonomous_edit",
                    "description": "The tool to run. Keep as 'autonomous_edit' for natural-language prompts."
                  },
                  "params": {
                    "type": "object",
                    "required": [
                      "prompt"
                    ],
                    "properties": {
                      "prompt": {
                        "type": "string",
                        "description": "The natural language instruction of what edits to make. Example: 'Add bold word-by-word captions, track my face, and add a social media lower third card'."
                      },
                      "video_url": {
                        "type": "string",
                        "description": "Optional starting/source video public URL to apply edits to (e.g. S3, Google Drive public link, Dropbox, direct MP4). Note: local /mnt/data paths are not supported."
                      },
                      "assets": {
                        "type": "array",
                        "description": "Input media assets to be edited. URLs must be public HTTP/HTTPS links.",
                        "items": {
                          "type": "object",
                          "required": [
                            "url"
                          ],
                          "properties": {
                            "url": {
                              "type": "string",
                              "description": "Publicly accessible HTTP/HTTPS URL to the video, image, or audio asset."
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "video",
                                "audio",
                                "image"
                              ]
                            }
                          }
                        }
                      },
                      "captionTemplatePreset": {
                        "type": "string",
                        "description": "Optional caption template preset name (e.g. 'mrbeast', 'hormozi', 'neon-pop', 'typewriter')."
                      },
                      "project_id": {
                        "type": "string",
                        "description": "Optional Levea project ID for tracking and continuity across edits."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful edit execution result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "export_url": {
                      "type": "string",
                      "description": "Direct URL to the finished MP4 video render."
                    },
                    "jobId": {
                      "type": "string"
                    },
                    "summary": {
                      "type": "string",
                      "description": "Human-readable summary of the edits performed."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Missing prompt or invalid parameter format."
          },
          "401": {
            "description": "Unauthorized. Check your Levea API key."
          },
          "402": {
            "description": "Payment Required. Quota exceeded on current subscription plan."
          }
        }
      }
    }
  }
}
